footer{
    margin-bottom: 40px;
}

.contactFooter {
    color: white;
    text-align: center;
    background-color: rgb(34, 34, 34);
    position: fixed;
    bottom: 0;
    padding: 20px;
    right: 0;
    margin-bottom: 0px !important;
    border-radius: 32px 0px 0px 0px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    font-size: 18px;
}

#headerTitle {
    font-size: 30px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 4px solid blue;
    margin-left: 0px;
    background-color: rgb(34, 34, 34);
    border-radius: 0px 0px 90px 0px;
    font-family: sans-serif;
    box-shadow: 4px 4px 15px 3px black;
}

.dropDownOption {
    margin-left: 0px;
}

    .dropDownOption label {
        color: white;
        margin-top: 15px;
        padding: 5px;
    }

    .dropDownOption select {
        border: 2px solid black;
        border-radius: 5px;
        width: 190px;
        height: 30px;
    }

#TechFilter {
    width: 200px;
}

#infoHeader {
    background-color: rgb(211, 211, 53);
    padding: 5px;
    padding-left: 2px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 0px;
    margin-top:10px;
    text-align: left;
    border: 3px solid rgb(255, 255, 42);
}

.infoDiv {
    border-right: 3px solid black;
}

#entryHeader {
    color: white;
    background-color: rgb(34, 34, 34);
    text-align: center;
    padding: 4px;
    font-size: 25px;
    border-bottom: 5px solid blue;
    margin-bottom: 10px;
}

#entrySection {
    border: 4px solid black;
    background-color: rgb(225, 225, 225);
    border-radius:5px;
    /*margin-top: 18px;*/
}

#ro-entry {
    margin-left: 40px;
}

#entryResults {
    border-top: 4px solid blue;
    margin-top: 10px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

    #entryResults label {
        background-color: rgb(211, 211, 53);
        padding: 5px;
        margin-top: 5px;
        border-radius: 15px;
        width: 100%;
        border: 3px solid black;
    }

#pageTabs {
    text-align: center;
    margin-top: 15px;
    padding-right: 10px;
}

.linkDiv {
    padding-right: 30px;
    display: inline;
    margin-top: 20px;
}

#pageTabs a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 2px;
    margin-top: 10px;
    margin-right: 0px;
    border-radius: 5px;
}

    #pageTabs a:hover {
        color: Highlight;
        border-bottom: 3px solid Highlight;
    }

#ErrorMessage {
    /*  color: white;
    font-size: 20px;
    background-color: rgb(255, 19, 19);
    border-radius: 25px;
    border: 4px solid black;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 7px;*/
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

#submitMessage {
    /*background-color: green;
    color: white;
    border-radius: 15px;
    border: 3px solid black;
    text-align: center;*/
    color: green;
    font-weight: bold;
}

#RoClockSubmitMessage {
    color: green;
    font-weight: bold;
    text-align:center;
}

#updateMessage {
    color: green;
    font-weight: bold;
}

#TechStats {
    margin-top: 2px;
    margin-right: 12px;
    margin-left: 18px;
    padding: 2px;
}

#logo {
    border-radius: 50%;
    border: 3px solid black;
}

.entryResultOutput {
    background-color: rgb(161, 161, 161);
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 15px;
    border: 3px solid black;
}

.submit:hover {
    background-color: rgb(69 120 255);
    color: white;
}

.altRowColors:nth-child(odd) {
    background-color: lightgray;
}

.altRowColors:nth-child(even) {
    background-color: white;
}

.incompleteRow {
    background-color: rgb(158 158 158) !important;
    color: rgb(34, 34, 34) !important;
}

.ClockDiv {
    padding-left: 15px;
}

.loginPage {
    background-image: url("/Includes/Images/SubaruLoginBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.loginTitle {
    background-color: rgb(34, 34, 34);
    font-size: 35px;
    color: white;
    padding: 20px;
    padding-left: 20px;
    border-bottom: 4px solid blue;
    text-align: center;
    border-radius: 0px 0px 90px 90px;
    box-shadow: 0px 0px 10px 6px black;
    font-family:sans-serif;
}

.loginBox {
    background-color: rgb(233, 233, 233);
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 10px;
}

.loginButton {
    text-align: center;
    background-color: rgb(35, 33, 113);
    color: white;
    width: 200px;
    border-radius: 5px;
    margin-left: 20px;
}

    .loginButton:hover {
        background-color: rgb(39, 73, 199);
    }

.clockButton:hover {
    background-color: rgb(39, 73, 199);
    color: white;
}

#mainstopwatch {
    
    padding-bottom:2px;
    text-align: center;
    background: #e0e0e0;
    border-radius: 40px;
    background: #e0e0e0;
}

    #mainstopwatch span {
        background: #c7e0f8;
        color: #0776de;
        font-size: 40px;
        padding: 5px;
        width: 55px;
        margin: 3px;
        display: inline-block;
        background: #e0e0e0;
    }



.EfficiencyStatBox{
    background-color: rgb(34,34,34);
    border: 3px solid black;
    border-radius: 15px;

}
    .combEfficTitle{
        color: white;
        text-align:center;
        border-bottom: 3px solid blue;
        font-size:18px;
        font-weight: bold;
    }

    .CombinedEfficny {
        color: white;
        text-align:center !important;
    }

        .CombinedEfficny output {
            border: 3px solid black;
            background-color: white;
            border-radius: 5px;
            padding: 2px;
            color: black;
            box-shadow: 0px 0px 3px white;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .CombinedEfficny label{
            font-weight: bold;
        }

.ROSearchSection {
    background-color: white;
    border: 4px solid black;
    margin-top: 10px;
}

.ROSearchSection h1{
    background-color: rgb(34, 34, 34);
    color: white;
}

#RoSearchButton:hover {
    background-color: rgb(69 120 255) !important;
}

.DownloadBtn {
    font-size: 17px;
    margin-top: 19px !important;
}

button:hover {
    background-color: rgb(69 120 255);
    color: black;
}

input:focus
{
    outline: none !important;
}

select:focus{
    outline: none !important;
}

.showActiveTechsBtn {
    margin-top: 10px;
    border:2px solid black !important;
    margin-left:5px;
}

.btn:focus{
    outline:none !important;
    box-shadow: none !important;
}

.redFlagIcon {
    width: 50px;
    height: 30px;
}