@model SubaruEfficiencyTracking.Models.LoginCredentials
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Subaru Technicians Efficiency Tracking</title>
    <link href="/Includes/css/subaru_app.css" rel="stylesheet">
    <link href="/Includes/css/bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Includes/css/js/jquery.timeentry.css">
    <script type="text/javascript" src="~/Includes/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="~/Includes/js/jquery.timeentry.js"></script>
</head>
<body class="loginPage">
    <div>
        <div class="col-12">
            <div class="loginTitle">
                <image id="logo" src="/Includes/Images/SubaruLogo.jpg" style="box-shadow: -2px 2px 8px black"></image>
                Subaru of Beechmont Lube Tech Efficiencies
            </div>
            <br>
            <div style="text-align:center; font-size: xx-large; margin-top: 20px; margin-bottom: 10px; text-shadow: 2px 2px 2px rgb(156, 156, 156);">Login</div>
            <div class="row">
                <div class="col-4"></div>
                <div class=" loginBox col-4">
                    <form action="/Login/Index" method="post" class="loginForm">
                        <br>
                        <div class="">
                            <label for="userName">Username: </label>
                            @Html.TextBoxFor(m => m.UserName)
                            <br><br>
                        </div>
                        <div class="">
                            <label for="password">Password: </label>
                            @Html.PasswordFor(m => m.Password)
                            <br><br>
                        </div>

                        <div id="submitButton">
                            <input type="submit" value="Sign In" onclick="" class="loginButton">
                            <br><br>
                            <div id="LoginMessage" style="color: red; margin-left: 30px">@ViewBag.failureMessage</div>
                        </div><br />
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</body>
<footer class="contactFooter">Need help? <br /> Call or text 937-218-8213</footer>
</html>
<script type="text/javascript">
   
    function ErrorMessageFade() {
        $("#LoginMessage").show().fadeOut(4000);

        return false;
    };
</script>
